.intro__list {
  max-width: 690px;
  list-style-type: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 928px) {
  .intro__list { 
    max-width: 720px;
  }
}