.cover__overlay {
  min-height: calc(100vw/1.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.cover__overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: .7;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover__overlay:hover::after {
  opacity: .2;
}

@media screen and (min-width: 1184px) {
  .cover__overlay {
    min-height: 740px;
  }
}